
*{
    margin: 0;
}



#marvel_4 {
    margin-bottom: auto;
    color: #ff0000;
    background-color: gold;
    border: 1px solid rgb(0, 0, 0);
}

#canvas {
    
    margin-top: 50px;
    display: flex;
    width: 500px;
    height: 200px;
    margin-bottom: 50px;

}

#header {
    
    text-align: center;
    color: gold;
    background-color: rgb(255, 0, 0);
    height: 100px
    
    

}

#footer{
    text-align: center;
    color: gold;
    background-color: #ff0000;
    height: 200px;
}

#label {
    color: gold;
}

#hero {
    border-radius: 60%;
}

